.research/
.DS_Store
.theos/
src/packaging/theos/.theos/
src/packaging/theos/core/
src/packaging/theos/mitigationkit/
src/packaging/theos/mitigations/
src/packaging/theos/runtime/
src/packaging/theos/src/
src/packaging/theos/ui/
src/packaging/theos/packages/
src/core/generated/
src/packaging/theos/generated/
dist/
